<p class="sh1" style="margin: 10px 10px 10px 10px;">
	User Administration
</p>
<script>
	function autofillFields(s){
		document.getElementById("addadmin").value    = s;
		document.getElementById("deleteuser").value  = s;
		document.getElementById("removeadmin").value = s;
	}
</script>
<div width="100%">
	<span style="float:right;margin:0px 50px 0px 0px;">
		
	</span>
	<span style="float:left;margin:0px 0px 0px 50px;">
		
	</span>
	<span style="float:right;margin:10px 50px 20px 0px;">
		<form class="form-inline" role="form" method="post" action="/admin/change">
		<div>{{message}}</div><br>
			<div class="form-group">
				<label>Change admin status:</label>
				<input class="form-control" name="name" id="removeadmin" placeholder="Enter username">
			</div>
			<button type="submit" class="btn btn-default">Apply</button>
		</form>
	</span>
</div>
<div style="clear:both;float:left;width:100%;">
<table class="table table-striped table-hover" style="margin:auto;width:90%;">
	<thead>
	<tr style="background:green;color:white;font-weight:bold;">
		<td>
			User ID
		</td>
		<td>
			Username
		</td>
		<td>
			Password
		</td>
		<td>
			Email
		</td>
		<td>
			Admin
		</td>
	</tr>
	</thead>
	<tbody>
	{{#each users}}
	<tr onclick="autofillFields('{{name}}');">
		<td>
			{{uid}}
		</td>
		<td>
			{{name}}
		</td>
		<td>
			{{pass}}
		</td>
		<td>
			{{email}}
		<td>
			<input id="currentCheckbox" type="checkbox" name="" value="admin" disabled="disabled">
			<script>
				document.getElementById('currentCheckbox').checked = {{admin}};
				document.getElementById('currentCheckbox').id = 'adminCheckbox' + {{uid}};
			</script>
		</td>
	</tr>
	{{/each}}
	</tbody>
</table>
</div>
</table>