<p class="sh1" style="margin: 10px 10px 10px 10px;">
	User Administration
</p>
<script>
	function isAdmin(uid){
		alert(document.getElementById('adminCheckbox' + uid).checked);
	}
</script>
<table class="table table-striped table-hover" style="margin:auto;width:90%;">
	<thead>
	<tr style="background:green;color:white;font-weight:bold;">
		<td>
			User ID
		</td>
		<td>
			Username
		</td>
		<td>
			Password
		</td>
		<td>
			Email
		</td>
		<td>
			Admin
		</td>
		<td>
			Delete
		</td>
	</tr>
	</thead>
	<tbody>
	{{#each users}}
	<tr>
		<td>
			{{uid}}
		</td>
		<td>
			{{name}}
		</td>
		<td>
			{{pass}}
		</td>
		<td>
			{{email}}
		<td>
			<input id="currentCheckbox" type="checkbox" name="" value="admin" onclick="isAdmin({{uid}});">
			<script>
				document.getElementById('currentCheckbox').checked = {{admin}};
				document.getElementById('currentCheckbox').id = 'adminCheckbox' + {{uid}};
			</script>
		</td>
		<td>
			<form role="form" method="post" action="/admin/delete">
				<button name={{uid}}>Delete</button>
			</form>
		</td>
	</tr>
	{{/each}}
	</tbody>
</table>